<div class="row">
  <div class="col-sm-2">
    <%= render 'chats/navside' %>
  </div>
  <div class="col-sm-9">
    <div class="panel panel-default">

      <div class="panel-body">
        <!--Widget body-->
        <i class="fa fa-university fa-fw"></i> <strong>系统使用说明</strong>
        <div id="demo-chat-body" class="collapse in">
          <div class="nano has-scrollbar" style="height:450px">
          <br>
          <!--<%= image_tag "usage.PNG", class: "img-sm" %>-->
          
          <ul>
            <li><h4>用户功能：</h4></li>
              可以通过右上角图标来管理用户的个人信息，同时可以查看、修改自己的用户信息；
            <li><h4>聊天功能：</h4></li>
              在左侧四大功能模块中，可以查看好友列表，点击好友可以查看好友信息、发起聊天、删除好友等；聊天房间功能显示当前所有的聊天房间；好友申请功能为别人想要添加自己为好友，点击之后选择同意或者不同意；等待信息为添加别人，等待别人同意，也可撤回好友申请；
            <li><h4>机器人功能：</h4></li>
              在好友列表机器人中，通过添加好友robot，可以和机器人在线聊天；user1用户已经添加robot用户，在好友列表中可以看到；
            <li><h4>查找功能：</h4></li>
              可以通过左下角添加朋友按钮添加朋友，然后点击搜索（不输入内容）可以查看所有的好友，同时可以通过用户名查找，进行添加；可以通过右上角搜索按钮查找历史信息，点击搜索（不输入内容）会显示所有的聊天记录，同时可以通过关键字查找； 
            <li><h4>聊天管理功能：</h4></li>
              在选择一个好友点击发起聊天，然后点击已经发送的一条信息，可以进行撤回消息，转发消息，删除消息三个功能；在右侧房间管理功能中，有添加当前聊天会话的用户人数，并可以修改房间名，转移房间的所有权权限；
          </ul>

          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-info text-center">
     
        欢迎来到果壳树洞！&nbsp;&nbsp;&nbsp;This is A convenient Chat tool！
      </div>
    </div>
  <div class="col-sm-3">
  </div>
</div>


